<a href="https://colab.research.google.com/github/Shylesh1/Resume/blob/main/Shylesh_Erukulla_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here

string_input = input("Enter a String:")
print("Length of the given string is ", len(string_input))

Enter a String:Shylesh
Length of the given string is  7

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
input_string = input("Enter a String: ")
def count_characters(input_string):
    dictionary = {}
    for count_char in input_string:
        keys = dictionary.keys()
        if count_char in keys:
            dictionary[count_char] += 1
        else:
            dictionary[count_char] = 1
    return dictionary
print(count_characters(input_string))

Enter a String:Shy
{'S': 1, 'h': 1, 'y': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here

def list_operation(input_number):
    sum_numbers = 0
    for x in input_number:
        sum_numbers += x
    return sum_numbers
print("sum of numbers",list_operation([1,2,3,4,5]))

sum of numbers 15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
input_str=input("Enter String:")
def change_char(input_str):
  char = input_str[0]
  input_str = input_str.replace(char, '$')
  input_str = char + input_str[1:]

  return input_str

print(change_char(input_str))

Enter String:shys
shy$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
a=int(input("Enter value for a:"))
b=int(input("Enter value for b:"))
pi = 3.14
s = pi * (1+a/b) ** 3
print(s)

Enter value for a:3
Enter value for b:3
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic3.update(dic1)
print("Expected Result:")
print(dic3)

Expected Result:
{5: 50, 6: 60, 1: 10, 2: 20, 3: 30, 4: 40}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
tuple = ("a","b","c","d","g","d","r","e","q")
input_element=input("Enter a element:")
print(input_element in tuple)

Enter a element:q
True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
setn = {1,2,6,3,44,77,5}

print(max(setn))
print(min(setn))

77
1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here
import random
random_studnet = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
for i in range(6):
    list_students=random.sample(random_studnet,k=5)
    print(list_students)

['sg1297', 'nv0234', 'ms1500', 'fh0141', 'av0659']
['sm1907', 'kg0470', 'gn0108', 'sc1229', 'hy0232']
['sk1386', 'sk1390', 'ja0964', 'aos0040', 'kg0470']
['nm0618', 'sc1229', 'dr0609', 'sk1458', 'kg0470']
['fh0141', 'nm0618', 'sg1297', 'dr0609', 'vb0218']
['sk1458', 'hy0232', 'aos0040', 'sa1198', 'sm1907']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:

# write your answer here
def duplicate_function(number):
    num_set = set()
    return_value = -1

    for i in range(len(number)):

        if number[i] in num_set:
            return number[i]
        else:
            num_set.add(number[i])
    return return_value
print(duplicate_function([1,2,3,4,5]))
print(duplicate_function([2,2,3,4,5]))

-1
2

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta

def sunday_function(spec_year):
       dt = date(spec_year, 1, 1)      
       dt += timedelta(days = 6 - dt.weekday()) 
        
       while dt.year == spec_year:
          yield dt
          dt += timedelta(days = 7)
          
for s in sunday_function(2022):
   print(s)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25